.select-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 0.5rem;
}

.select {
    width: 100%;
    border: 1px solid #555555;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    color: #7f7f7f;
    background: #292929;
    appearance: none;
}